/* * {border: 1px solid green;} */

body {
    position: relative;
    /* margin: 2.54cm; */
}

#nav-bar {
    position:absolute;
    display: block;
    top: 0;
    box-shadow: none;
    /* border: solid 1px black; */
    width: 95%;
    right: 2.5%;
    z-index: 1;
}

#nav-box {
    border: 2px solid black;
}

#mishna-nav {
    border: none;
    background-color: transparent;
}

#perek-nav {
    border: none;
    background-color: transparent;
}

h1 {
    font-weight: bold;
    font-weight: 100;
    font-size: 40px;
    margin: 0 20px;
    display: inline;
}

#beta { display: none; }

#BSD {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

#top-quote {
    display: none;
}

.mishna-unit {
    /* border: 0.1px solid white; */
    width: 90%;
    max-width: none;
    clear: both;
    margin-right: 7%;
    /* height: 20px; */
    margin-bottom: 0;
    position: relative;

    /* page-break-inside: avoid; */
}

.mishna-num {
    /* margin-top: 20px; */
}

.mishna-text {
    box-shadow: none;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 49.5%;
    /* display: inline-block; */
}

.mishna-print {
    display: block;
    width: 49.5%;
    float: left;
}

.mishna-print .hid {
    color: transparent;
}

.footnote {
    display: none;
}

