*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    direction: rtl;
    
}

body {
    background-color: rgb(255, 255, 255);
    /* -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important; */
}

h1 {
    font-weight: bold;
    font: 40px 'Noto Rashi Hebrew';
    font-weight: 100;
    font-size: 40px;
    margin: 0;
}

p {
    font-family: Heebo;
}

#nav-bar {
    position: fixed;
    top: 0px;
    right: 0%;
    width: 100%;
    height: 50px;
    background: rgb(231, 231, 231);
    /* border: 2px solid blue;  */
    /* overflow: hidden; */
    box-shadow: 0 0 4px 0.1px black;
    opacity: 97%;
    z-index: 1000;
}
#nav-box {
    /* margin: auto; */
    width: 70%;
    max-width: 270px;
    min-width: 150px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* border: 2px solid blue; */
}

#all-perek {
    /* width: 300px; */
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #F0F0F0;

    top: 50%;
    /* right: 5%; */
    text-align: center;
    z-index: -1;
    /* display: none; */
    border-radius: 0px 0px 8px 8px;
    padding-top: 10px;

    overflow: auto;
    display: none;
}

#all-perek::-webkit-scrollbar {
    width: 4px;
}

#all-perek::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
    background: transparent;
}

#all-perek::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
#all-perek::-webkit-scrollbar-track-piece:end {
    margin-bottom: 10px; 
    background: transparent;
}
#all-perek::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
    background: transparent;
}

#all-perek ul {
    padding: 0;
}

#all-perek ul li {
    list-style-type: none;
    width: 100%;
}

li > button {
    width: 100%;
    height: 30px;
    border: 0;
    /* border-top: 1px solid #888; */
    background-color: rgba(0, 0, 0, 0);
    font-size: 21px;
}

li > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

li > button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

#mishna-nav {
    /* display: inline-block;
    border-radius: 50px;
    /* border: none; */
    font-size: 25px;
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    overflow: hidden; 
    border-radius: 50px;
}

#mishna-nav-container {
    display: inline-block;
    
    /* border: none; */
    width: 65%;
    height: 100%;
    margin: 0px;
    margin-right: 2%;
    padding: 0px;
    
    /* border: 2px solid green; */
}

#mishna-nav:active {
    background-color: #aaa;
}

#perek-nav-container {
    display: inline-block;
    padding: 0;
    position: relative; 
    /* top: -10px;    */
    
    width: 25%;
    height: 100%;

    margin: 0px;
    margin-left: 2%;
    padding: 0px;
    
    /* border: 2px solid green; */
}

#perek-nav {
    font-size: 25px;
    height: 100%;
    margin: 0px; 
    margin-left: 2%;

    padding: 0px; 
    width: 100%;
    border-radius: 50px;
    font-size: 25px;

}
#perek-nav:active {
    background-color: #aaa;
}

p#top-quote {
    font-size: 22px; 
    width: 80vw;
    margin: auto;
    margin-bottom: 1em;
    text-align: center; 
    font-style: italic;
}

.mishna-unit {
    /* padding-left: 10px; */
    margin: auto;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    width: 80%;
    max-width: 700px;
}

.mishna-text {
    /* display: none; */
    background-color: rgb(231, 231, 231); 
    border-radius: 10px;
    box-shadow: 0 0 8px 0.1px black;
    padding: 15px;
    padding-left: 5px;
    line-height: 1.4em;
    /* margin-right: 50px; */
    
    font-size: 26px;
    /* opacity: 50%; */
    position: relative;

    font-family: "times";
}

.hid {
    opacity: 100%;
    /* display: inline; */
    font-family: "times";
}

.mishna-num {
    
    background-color: rgb(231, 231, 231); 
    font-size: 16px;
    
    width: 1.7em;
    height: 1.7em;
    border: 2px solid black;
    padding: 0.2em;
    border-radius: 3px;
    text-align: center; 
    
    position: relative;
    margin-right: -50px;
    float: right;
    top: 20px;
    right: 10px;
       
}

img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
}

#switch-button {
    font-size: 30px;
    font-weight: bold;
    padding: auto;
    display: block;
    background-color: #ffefd5;
    border: 3px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    right:10px;
    bottom:20px;

    background: url(images/loop.png)

    z-index: 1000;
}

#switch-button:active {
    background-color: #ffdca4;
    /* border-width: 3px; */
    transform: translateY(0px);
}

#options-button {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;
    display: block;
    background-color: #ffefd5;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: fixed;
    left: 10px;
    bottom: 20px;
    z-index: 1000;
}

#options-button:active {
    background-color: #ffdca4;
    /* border-width: 3px; */
    transform: translateY(0px);
    
}

#plus-button {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;
    display: block;
    background-color: #eee;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: fixed;
    left: 15px;
    bottom: 20px;
    z-index: 999;

    transition: bottom 0.2s;
}

#plus-button:active {
    background-color: #aaa;
    /* border-width: 3px; */
    transform: translateY(0px);
}

#minus-button {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;
    display: block;
    background-color: #eee;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    position: fixed;
    left: 15px;
    bottom: 20px;
    z-index: 999;

    transition: bottom 0.2s;
    
}



#minus-button:active {
    background-color: #aaa;
    /* border-width: 3px; */
    transform: translateY(0px);
}


@media print {
    button.text-btn {
        visibility: hidden;
    }
}